.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.textbox {
  width:10%;
  margin: .25% 0;
}

button {
  width:5%;

}
.field-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
 
}
.checkbox-container {
  margin: .25% 0;
}

.output {
  font-size: 2rem;
}